name: Docker

on:
  push:
  pull_request:
    branches:
      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build --no-cache . --file Dockerfile --tag mikenye/youtube-dl:testing
